/* ÇOCUKLARA ÖZEL ALANI */
.cocuklara-ozel {
  padding: 60px 10%;
  background-color: #070d29;
}

.cocuklara-ozel h1 {
    color: #efbf4e;
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
}

/* KARTLAR */
.cocuklara-ozel-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.cocuklara-ozel-card {
  color: #ffffff;
  background-color: #efbf4e;

;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}

.cocuklara-ozel-card:hover {
  transform: translateY(-6px);
}

.cocuklara-ozel-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.cocuklara-ozel-card h2 {
    color: #09164e;
  margin: 15px 0 8px;
  font-size: 20px;
}

.cocuklara-ozel-card p {
    color: #1a2969;
  font-size: 14px;
}

.cocuklara-ozel-card span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #1a2969;
}
